{% extends 'base.html' %}
{% block content %}
       <div class="d-flex justify-content-md-center align-items-center vh-100">
            <div class="col-sm-2">
                <form method="post" enctype="multipart/form-data">
                    <input type="text" class="form-control form-control-lg" id="category" name="category" placeholder="category name" {% if category %} value={{category}} {% endif %}>
                    <div>
                        {% for error in form.category.errors %}
                            <p class="error_msg">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                    <br>
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
                </form>
                <br>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
            </div>
        </div>
        <input name="category" placeholder="category name" {% if category %} value={{category}} {% endif %}/>
        <input type="submit" value="submit"/>
    </form>

{% endblock %}