{% extends 'base.html' %}
{% block content %}
    <div class="d-flex flex-row justify-content-center align-items-center vh-100">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <form method="post" enctype="multipart/form-data">
                    <div >
                        <h4 class="text-center">Are you sure you want to permanently remove your account?</h4>
                        <br>
                        <div>
                        <button class="w-100 btn btn-primary btn-lg" type="submit" name="action" value="Yes">Yes</button>
                        <br>
                        <br>
                        <button class="w-100 btn btn-primary btn-lg" type="submit" name="action" value="No">No</button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </form>
{% endblock %}